#site-nav {
  position: relative;
  width: calc(100% - 6rem);
  height: 59px;
  border-bottom: 1px solid #989389;
  padding: 20px 3rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  transition: all 0.2s;
  z-index: 8;
}

#site-nav.scrollUp {
  transform: translateY(-100px);
}

.solid-bg {
  background: #d6d2cb;
  position: fixed !important;
}

#hair-care-title {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}

#site-nav .bolder {
  font-weight: 500;
}

.menu-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.search-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  gap: 0.6rem;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.nav-icon {
  height: 2rem;
  width: auto;
}

.search-cart-icons {
  height: 1rem;
  width: auto;
}

#cart-btn {
  background-color: #3a3328;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  color: #d6d2cb;
}

#search-icon {
  border: 1px solid #3a3328;
  padding: 0.4rem;
  border-radius: 50px;
}

.nav:hover {
  transform: scale(0.95);
  border-radius: 50px;
}

.nav:active {
  transform: scale(0.92);
}

.search-input {
  border: none;
  border-bottom: 1px solid #3a3328;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.2rem 0.2rem;
  margin: 0;
  outline: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu-items {
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 889px) {
  .nav-menu-expand {
    position: fixed !important;
    display: inline-block;
    bottom: 0;
    height: 100vh !important;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
    background: #d6d2cb;
    gap: 2rem;
    overflow: auto;
  }
  .menu-catalog,
  .search-cart {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu > hr {
    width: 80vw;
    border: 1px solid #3a3328;
  }

  #mobile-menu-btn {
    position: fixed;
    top: 35px;
    right: 35px;
    height: 30px;
    width: 30px;
  }

  #mobile-cart-btn {
    position: fixed;
    top: 37px;
    right: 75px;
    height: 24px;
    width: 24px;
  }

  .mobile-menu > input:hover {
    transform: scale(0.95);
  }

  .mobile-menu > input:active {
    transform: scale(0.9);
  }

  .mobile-menu-items > a {
    text-decoration: none;
    color: #3a3328;
  }

  .mobile-menu-items > a:hover {
    transform: scale(0.98);
  }

  .mobile-menu-items > a:active {
    transform: scale(0.95);
  }
}

/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {
  ...;
} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {
  ...;
} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {
  ...;
} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {
  ...;
} */
